<form>
  <div class="form-group">
    <label for="firstName">First Name</label>
  <input
      required minlength = "3"
      maxlength="10"
      ngModel name="firstname"
      #firstName="ngModel"
      (change)="log(firstName)"
      id= "firstName"
      type="text"
      class="form-control">
  <div
    class="alert alert-danger"
    *ngIf="firstName.touched && !firstName.valid">
    <div *ngIf="firstName.errors.required">
      Required first name
    </div>
    <div *ngIf="firstName.errors.minlength">
      It should be 3 char atleast
    </div>
  </div>
  </div>

  <div class="form-group">
    <label for="comment">
      Comment
    </label>
    <textarea
      required
      maxlength="5"
      ngModel name="comment"
      #comment="ngModel"
      (change)="log(change)"
      id="comment"
      cols="30"
      rows="10"
      class="form-control">
    </textarea>
    <div
      class="alert alert-danger"
      *ngIf="comment.touched && !comment.valid">
      <div *ngIf="comment.errors.required">
        Comment is required
      </div>
    </div>
  </div>
  <button class="btn btn-primary">Submit</button>
</form>
